ion-tab-bar {
  --background: #4B7BEC;
  border-top: 1px solid #e6e6e6;
}

ion-tab-button {
  --color: #ffffff;
  --color-selected: #6090ff;
}

.tab-selected {
  color: #ffffff;
  ion-icon {
    color: #ff0000;
  }
}