<ion-tabs *ngIf="notLogin">
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="navigateTo('home')" [class.tab-selected]="activeTab === 'home'">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>
    
    <ion-tab-button (click)="navigateTo('letter-status')" [class.tab-selected]="activeTab === 'letter-status'">
      <ion-icon name="notifications-circle-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button (click)="navigateTo('letter-request')" [class.tab-selected]="activeTab === 'letter-request'">
      <ion-icon name="clipboard-outline"></ion-icon>
    </ion-tab-button>
    
    <ion-tab-button (click)="navigateTo('profile')" [class.tab-selected]="activeTab === 'profile'">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>