<ion-header [translucent]="true"></ion-header>

<ion-content>
  <div class="login-container">
    <!-- Header text outside the card -->
    <div class="login-header">
      <h1>LOGIN HERE</h1>
      <p>Welcome To</p>
    </div>

    <!-- Login form -->
    <div class="login-card">
      <div class="form-container">
        <form (ngSubmit)="login()">
          <div class="custom-input">
            <div class="input-wrapper">
              <input
                type="email"
                id="email-input"
                class="custom-input-field"
                placeholder=" "
                [(ngModel)]="credentials.email"
                name="email"
                required
              />
              <label for="email-input" class="floating-label">EMAIL</label>
            </div>
          </div>

          <div class="custom-input">
            <div class="input-wrapper">
              <input
                [type]="passwordVisible ? 'text' : 'password'"
                id="password-input"
                class="custom-input-field"
                placeholder=" "
                [(ngModel)]="credentials.password"
                name="password"
                required
              />
              <label for="password-input" class="floating-label"
                >PASSWORD</label
              >
              <div class="password-toggle" (click)="togglePasswordVisibility()">
                <ion-icon
                  [name]="passwordVisible ? 'eye-outline' : 'eye-off-outline'"
                ></ion-icon>
              </div>
            </div>
          </div>
          <div class="forgot-password">
            <span (click)="goToForgotPassword()">Lupa password?</span>
          </div>

          <button class="sign-in-button" [disabled]="isLoading" type="submit">
            {{ isLoading ? 'LOADING...' : 'SIGN IN' }}
          </button>
          <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
          </div>
        </form>
      </div>
    </div>
  </div>
</ion-content>
