<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Status Pengajuan Surat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-list>
    <ion-item class="list-item">
      <ion-icon name="document" slot="start" class="icon"></ion-icon>
      <ion-label class="content">
        <h2 class="title">Template surat 1</h2>
        <p class="status">Tolak</p>
      </ion-label>
      <ion-icon name="chevron-forward" slot="end" class="arrow-icon"></ion-icon>
    </ion-item>

    <ion-item class="list-item">
      <ion-icon name="document" slot="start" class="icon"></ion-icon>
      <ion-label class="content">
        <h2 class="title">Template surat 2</h2>
        <p class="status">Tolak</p>
      </ion-label>
      <ion-icon name="chevron-forward" slot="end" class="arrow-icon"></ion-icon>
    </ion-item>

    <ion-item class="list-item">
      <ion-icon name="document" slot="start" class="icon"></ion-icon>
      <ion-label class="content">
        <h2 class="title">Template surat 3</h2>
        <p class="status">Tolak</p>
      </ion-label>
      <ion-icon name="chevron-forward" slot="end" class="arrow-icon"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
