<ion-content [fullscreen]="true" class="ion-padding">
  <div class="reset-container">
    <div class="reset-title">
      <ion-icon name="lock-closed-outline" class="reset-icon"></ion-icon>
      <h2>Reset Password</h2>
      <p class="reset-desc">
        Masukkan password baru Anda di bawah ini.
      </p>
    </div>
    <form (ngSubmit)="onSubmit()" #resetForm="ngForm" class="reset-form">
      <div class="reset-input-group">
        <div class="reset-field">
          <label class="reset-label">Password Baru</label>
          <ion-item lines="none">
            <ion-input
              [type]="showPassword ? 'text' : 'password'"
              name="password"
              required
              [(ngModel)]="password"
              class="reset-input"
            ></ion-input>
            <ion-icon
              slot="end"
              [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
              class="toggle-password"
              (click)="showPassword = !showPassword"
            ></ion-icon>
          </ion-item>
        </div>
        <div class="reset-field">
          <label class="reset-label">Konfirmasi Password</label>
          <ion-item lines="none">
            <ion-input
              [type]="showPasswordConfirm ? 'text' : 'password'"
              name="password_confirmation"
              required
              [(ngModel)]="passwordConfirmation"
              class="reset-input"
            ></ion-input>
            <ion-icon
              slot="end"
              [name]="showPasswordConfirm ? 'eye-off-outline' : 'eye-outline'"
              class="toggle-password"
              (click)="showPasswordConfirm = !showPasswordConfirm"
            ></ion-icon>
          </ion-item>
        </div>
      </div>
      <ion-button expand="block" class="reset-button" type="submit"
        [disabled]="!password || !passwordConfirmation || password.length < 6 || password !== passwordConfirmation">
        Simpan Password Baru
      </ion-button>
    </form>
  </div>
</ion-content>
