<ion-content class="splash-bg" [fullscreen]="true">
  <div class="splash-header">
    <div class="splash-logo-group animate-pop">
      <img
        src="https://png.pngtree.com/png-vector/20220529/ourlarge/pngtree-send-mail-icon-simple-vector-illustration-single-business-mailing-vector-png-image_46627206.jpg"
        alt="Logo E-Surat"
        class="splash-logo"
      />
      <div>
        <p class="splash-title">E-SURAT</p>
        <p class="splash-subtitle">Sistem Pengajuan Surat</p>
      </div>
    </div>
  </div>
  <main class="splash-main">
    <h1 class="splash-headline animate-pop">
      <span class="splash-headline-bold">Aplikasi  </span> <span class="splash-headline-light">E-Surat</span>
    </h1>
    <div class="splash-illustration-wrap animate-fadein">
      <img
        src="assets/logoo.png"
        alt="Ilustrasi surat"
        class="splash-illustration"
      />
    </div>
    <div class="splash-tagline animate-fadein">
      <span>Digitalisasi surat, mudah & cepat!</span>
    </div>
  </main>
  <div class="splash-bottom-bg"></div>
</ion-content>
