<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Icon panah kembali bawaan Ionic -->
      <ion-back-button defaultHref="/profile" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="ds-title">Ganti Kata Sandi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h5>Jangan bagikan kata sandi anda kepada siapapun demi keamanan data.</h5>
  <div class="form-fields" style="padding: 24px">
    <div class="field-group">
      <ion-label>Kata Sandi Sekarang</ion-label>
      <div class="input-password-row">
        <ion-input
          [type]="showCurrentPassword ? 'text' : 'password'"
          [(ngModel)]="currentPassword"
          placeholder="Masukkan Kata Sandi"
        ></ion-input>
        <ion-icon
          [name]="showCurrentPassword ? 'eye-outline' : 'eye-off-outline'"
          class="toggle-eye"
          (click)="showCurrentPassword = !showCurrentPassword"
        ></ion-icon>
      </div>
    </div>
    <div class="field-group">
      <ion-label>Kata Sandi Baru</ion-label>
      <div class="input-password-row">
        <ion-input
          [type]="showNewPassword ? 'text' : 'password'"
          [(ngModel)]="newPassword"
          placeholder="Masukkan Kata Sandi baru"
        ></ion-input>
        <ion-icon
          [name]="showNewPassword ? 'eye-outline' : 'eye-off-outline'"
          class="toggle-eye"
          (click)="showNewPassword = !showNewPassword"
        ></ion-icon>
      </div>
    </div>
    <div class="field-group">
      <ion-label>Konfirmasi Kata Sandi Baru</ion-label>
      <div class="input-password-row">
        <ion-input
          [type]="showConfirmPassword ? 'text' : 'password'"
          [(ngModel)]="confirmPassword"
          placeholder="Masukkan Konfirmasi Kata Sandi"
        ></ion-input>
        <ion-icon
          [name]="showConfirmPassword ? 'eye-outline' : 'eye-off-outline'"
          class="toggle-eye"
          (click)="showConfirmPassword = !showConfirmPassword"
        ></ion-icon>
      </div>
    </div>
    <ion-button expand="block" class="mt-4" (click)="changePassword()">
      Ganti Kata Sandi
    </ion-button>
  </div>
</ion-content>
